.secaoFinanceira {
    width: 90%;
    background: #fff;
    margin: 20px auto;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
}

.secaoFinanceira h2 {
    text-align: center;
    color: #004Bad;
    margin-bottom: 20px;
}

.formPagamento {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    margin-bottom: 30px;
}

.formPagamento input {
    padding: 8px;
    border-radius: 8px;
    border: 1px solid #ccc;
    min-width: 200px;
}

.formPagamento button {
    padding: 10px 20px;
    background-color: #004Bad;
    border: none;
    border-radius: 8px;
    color: white;
    cursor: pointer;
}

.tabelaPagamentos {
    width: 100%;
    border-collapse: collapse;
}

.tabelaPagamentos th,
.tabelaPagamentos td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: center;
}

.tabelaPagamentos th {
    background-color: #e1e8ff;
}
 .formPagamento select {
            padding: 8px;
            border-radius: 8px;
            border: 1px solid #ccc;
            min-width: 200px;
}

#notificacaoSucesso {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #4caf50;
  color: white;
  padding: 20px 30px;
  border-radius: 8px;
  font-size: 18px;
  z-index: 9999;
  box-shadow: 0 0 10px rgba(0,0,0,0.3);
}
