body {
    background-color: white;
    display: flex;
    justify-content: center;
    margin: 0;
}

.content {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: rgb(234, 234, 234);
    height: 100vh;
    align-items: center;
}

header {
    width: 100%;
    margin-top: -6px;
    display: flex;
    align-items: center;
    background-color: #2727f0;
}

#title{
    margin-right: 860px;
    margin-left: 10px;
    font-size: larger;
}

.logoApp {
    margin-left: 40px;
    width: 200px;
}

.logoApp img {

    width: 50px;
    height: 10%;
    border-radius: 30%;
}

.contaMorador {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: fit-content;
    cursor: pointer;
    margin-left: 15%;
}

.contaMorador img {
    margin-top: 20%;
    width: 80%;
    height: 60px;
    border-radius: 100%;
}

.contaMorador p {
    margin: 0;
    font-size: 12px;
    margin-top: 5px;
    width: 100%;
    margin-bottom: 20%;
}

a {
    width: fit-content;
}

.opcoesUsuario{
    display: flex;
    width: 100%;
    gap: 20px;
    justify-content: center;
    background-color:  #1bbbdf;
}
.opcaoClicavel {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    background-color: #1bbbdf;
    margin: 5px;
    padding: 4px;
    font-size: 1em;
}

.opcaoClicavel svg {
    width: 30px;
}
.opcaoClicavel p {
    margin: 0;
}